#clubTitle{
	font-size: 120px;
	padding-top: 60px;
}

.container{
	padding-bottom: 120px;
}

.navbuttons{
	padding-top: 40px;
}

.top-nav-buttons-li{
	padding-right: 40px;
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width:  300px;
	  height: 240px;
      margin: auto;
  }
  
 .footer-container{
	background-color: lightgrey;  
	  
  }